Repository touhou-api/api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🐳 Dockerfileを追加
  .dockerignore
  Dockerfile
  package.json
Due: prettier --write

🔧(package) prebuild廃止
  package.json
Due: prettier --write

➖ rimrafを削除
  package.json
  yarn.lock
Due: prettier --write

🐳 Dockerfile更新
  Dockerfile
Due: none

🐳 本番用のdocker-composeファイルを作成
  docker-compose.prod.yml
Due: prettier --write

📌 nodeとyarnのバージョンを指定
  package.json
Due: prettier --write

➕ ビルドに必要な依存関係を移動
  package.json
Due: prettier --write

👍 Gameエンティティに関して色々更新
  src/game/dto/find-many.dto.ts
  src/game/entity/game.entity.ts
  src/game/game.resolver.ts
  src/game/game.service.ts
Due: eslint --fix

🐛 ゲームを複数取得するクエリの引数のnullableのつけ忘れ修正
  src/game/dto/find-many.dto.ts
Due: eslint --fix

✨ 多言語に対応したゲームのタイトルの取得
  src/game/entity/abbreviation.entity.ts
  src/game/entity/game.entity.ts
  src/game/game.entities.ts
  src/game/game.resolver.ts
Due: eslint --fix

🐛 ゲームを複数取得したときに多言語タイトルが取得できない問題修正
  src/game/entity/game.entity.ts
  src/game/game.service.ts
Due: eslint --fix

🐛 ゲームの多言語タイトルでnullableにすべき所をしていなかったので修正
  src/game/entity/abbreviation.entity.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{json,yml,yaml,md}) or (any of: *.{eslint,prettier,lintstaged,husky}rc)
